@font-face {
    font-family: 'Recursive';
    src: url('./fonts/Recursive-Regular.ttf') format('trueType');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./fonts/Recursive-Medium.ttf') format('trueType');
}

@font-face {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./fonts/Recursive-SemiBold.ttf') format('trueType');
}

@font-face {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/Recursive-Bold.ttf') format('trueType');
}